body {
    background-color: darkcyan;
}

#question1, #question2, #question3, #question4, #question5 {
 
    background-color: bisque;
    border: 10px;
    color: darkblue;
    display: block;
}

#questions, #questions1, #questions2, #questions3, #questions4, #questions5 {
    background-color: cadetblue;
}

#q1, #q2, #q3, #q4, #q5, #q6, #q7, #q8, #q9, #q10, #q11, #q12, #q13, #q14, #q15, #q16, #q17, #q18, #q19, #q20 {
    background-color: antiquewhite;
    color: black;
    display: flex;
    border-radius: 25px;
    border: 5px black
}